[2013-05-08 09:32] Siyfion opened #1 "Won't install"
Using the latest sprint (24) and your installation instructions, I just get 'File Not Found On Server (HTTP 406 Error)'.

[2013-05-20 21:33] #1 closed, assigned to nobody

[2013-05-21 10:16] joggienl opened #2 "Support for .jshintrc"
At the moment I'm not able to use this extension in combination with a .jshintrc file. Can it be build in to this extension?

Using a .jshintrc file on project basis (in root of project) is a very convenient way to configure jshint at project level. That way you don't have to provide options per js file anymore, only if you wish to override.

Thanks in advance!

[2013-07-19 17:00] bzuillsmith opened #3 "Could use an error when .jshintrc fails"
If there is a parse error on .jshintrc, it's not always obvious. It would be nice to have some kind of error indicator, maybe when starting the app?

[2013-07-23 01:14] #3 closed, assigned to nobody

[2013-09-02 21:28] jesusprubio opened #5 "CoffeeLint support please"
http://www.coffeelint.org/

Thanks in advance :)

[2013-09-06 17:19] #5 closed, assigned to MiguelCastillo

[2013-09-16 04:28] zaggino opened #6 "Do not automatically create .coffeelintrc when .jshintrc is present."
I'm using the extension for a lot of JS projects and it's quite annoying that the extension keeps creating `.coffeelintrc` file. I don't even think that there's a valid reason for it to create any file by itself, maybe it could just put some kind of warning to the console that there was no settings file found and its using the defaults?

[2013-09-16 19:10] #6 closed, assigned to nobody

[2013-09-27 20:35] matiasurbano opened #7 ""indent":2 in .jshintrc"
I need to set a 2 spaces indentation in my project, so I set "indent":2   in my .jshintrc (this file is the project root folder) but the jshint identation error in my code continue.

[2013-10-13 15:26] artoale opened #8 "Multiple .jshintrc"
Hi, do you think it is possible to support multiple .jshintrc files? Let's say that I have a `lib` and a `test` folder and usually the globals used inside tests are not present in the source (e.g. describe, it, beforeEach, etc..). I would have two configuration files, one in the root and the other in the test folder.
Jshint by itself support this by using the .jshintrc file closest to the linted f

[2013-10-16 08:54] #7 closed, assigned to nobody

[2013-11-09 01:53] peterflynn opened #10 "Deprecated filesystem APIs"
This extension uses APIs which are deprecated as of Brackets Sprint 34 (the next release):
- `NativeFileSystem.requestNativeFileSystem()`
- `NativeFileSystem.DirectoryEntry`
- `DirectoryEntry.getFile()` (safe only because `forceCreate` always seems to be false)
- `NativeFileError` (essentially unused, though)
- `DirectoryEntry.createReader()`
- `FileEntry.createWriter()`

These APIs _should_ conti

[2014-01-13 03:27] #10 closed, assigned to nobody

[2014-01-16 21:31] RB-Lab opened #12 "After last update it began to 'forget' remove hints."
**Steps to reproduce**
1. write `var d = 5`
2. lamp appers (Missing semicolon)
3. correct it to `var d = 5;`

**Expected behaviour**
Lamp disappear

**Actual behaviour**
Lamp not disappear

Brackets: sprint 35
Interactive Linter: 0.1.9

[2014-01-26 14:18] #12 closed, assigned to nobody

[2014-02-19 14:15] artoale opened #15 "Use internal brackets linter"
Since it's virtually impossible to maintain the whole set of linter available in the world (jslint, jshint, eslint, jsonlint, csslint, coffeelint, etc.) I'd propose a significant architectural change. I didn't had time to truly investigate its doability, anyway the idea is to just provide a different linting UI (yours, which I really love), but rely on brackets extension, written using the new lin

[2014-02-22 03:06] #8 closed, assigned to nobody

[2014-02-23 05:51] MiguelCastillo opened #16 "Automatic reload settings file when its modified. e.g. .jshintrc"

[2014-02-23 05:52] #2 closed, assigned to nobody

[2014-02-23 05:53] #16 closed, assigned to MiguelCastillo

[2014-02-26 08:02] sarathsaleem opened #17 "'a-is-defined-but-never-used' not showing ?"
http://jslinterrors.com/a-is-defined-but-never-used  is not showing in new version 0.3.*

in 0.1.7 its working fine

[2014-03-15 22:46] zaggino opened #18 "Extension breaks in Sprint 38"
Read more: https://groups.google.com/forum/#!topic/brackets-dev/3NH9q2znAsc

![image](https://f.cloud.github.com/assets/1067319/2429714/6fde541a-ac93-11e3-8b89-6506b4a7836e.png)

[2014-03-18 00:45] #18 closed, assigned to nobody

[2014-03-18 01:21] #17 closed, assigned to nobody

[2014-03-19 00:16] dexbg opened #19 "InteractiveLinter doesn't work after install/remove extensions"
After InteractiveLinter is installed - it works fine. However, after installing/removing other brackets extensions - it stops working. My environment is Ubuntu 13.10 with Brackets 37 (reproducible also on 36).

[2014-03-24 23:56] anephew opened #20 "Add support .jshintrc in InteractiveLinter folder"
I want to specify the settings (browser : true etc) once in the file .jshintrc which come with InteractiveLinter.

A small example when open Jquery file from remote or local server:
Error: '{$}' is not defined.
Or such errors on "document.documentElement.id":
'document' is not defined.

[2014-03-25 11:01] thany opened #21 "Skip minified code blocks?"
Would it be possible to have this plugin skip blocks of minified code? I usually put minified code at the top of my main javascript file, so I don't have to combine them afterwards. But these code blocks generate so many linting errors that my regular code doesn't even get scanned.

[2014-03-27 02:42] zaggino opened #22 "creating new .jshintrc"
When I create a new file `.jshintrc` in my project, before I'm able to paste there the settings, I get tons of error dialogs. Can you make it skip empty `.jshintrc` file?

https://github.com/MiguelCastillo/Brackets-InteractiveLinter/blob/master/linterSettings.js#L76-L90

[2014-04-05 22:44] #22 closed, assigned to nobody

[2014-05-15 07:34] zaggino opened #23 "error viewing angularjs sources"
cloned repo: https://github.com/angular/angular.js

opened as project

keep getting this error:

![image](https://cloud.githubusercontent.com/assets/1067319/2981290/4c025132-dc03-11e3-8522-444fae7c5dd1.png)

[2014-05-28 19:09] #23 closed, assigned to nobody

[2014-06-06 03:41] #19 closed, assigned to nobody

[2014-06-07 21:30] balupton opened #24 "Coffee linting doesn't respect my ~/coffeelint.json file"

[2014-06-14 03:34] #24 closed, assigned to nobody

[2014-06-21 18:17] johnhidey opened #26 "Error Logged"
Received a message simply stating "error" in console.  I then opened the debug tools to get more details on the error and here is:

[code]

Here is the steps to reproduce.  First I should say that I removed the default jslinter that installs with brackets.
- In the root of my project I have a **.jshintrc** file specifying all my options.  Pretty much spelling out all of them.
- Then in a vendor fo

[2014-06-22 02:07] johnhidey opened #27 "Add Support for .jshintignore"
The jsHint library has support for .jshintignore file.

This file must be specified at the root of the project and only the root.  This is unlike the .jshintrc file which can be at any level and have their configuration honored.  The .jshintignore file just specifies the file/directorys to be ignored when linting.

Sample .jshintignore file contents

[code]

Would love to see support for .jshintig

[2014-06-27 04:04] santhoshtr opened #28 "Add support for jscs"
It will be great if we can do jscs(https://github.com/mdevils/node-jscs/) checks also in this plugin. https://github.com/globexdesigns/brackets-jscs exist and it is heavily based on brackets-jshint so I guess adding jscs will not be difficult. Thanks!

[2014-07-07 16:07] #21 closed, assigned to nobody

[2014-07-07 16:15] #20 closed, assigned to nobody

[2014-07-08 02:49] #26 closed, assigned to nobody

[2014-07-08 18:36] MetaMemoryT opened #30 "update to coffeelint 1.5.2"
https://github.com/clutchski/coffeelint/blob/master/package.json

[2014-07-09 07:06] IjzerenHein opened #31 "Add support for eslint"
I'd love to see support for eslint and .eslintrc as well :)
Cheers, Hein

[2014-07-16 13:22] #28 closed, assigned to nobody

[2014-07-31 23:17] JeffryBooher opened #32 "Some of the "more information links" are busted"
Not sure what you can do about it.

`if (a) b = 1;`

Has a "more info" link that points to:
http://jslinterrors.com/expected-a-and-instead-saw-b

Which is missing.

The missing page isn't a big deal -- most of the other errors seem to work but there are still a few broken ones.

[2014-08-02 18:08] ShimShamSam opened #33 "JSCS support"
It looks like a plugin exists for it in the source, but it's not listed in the documentation. It also looks like it doesn't support .jscsrc files

[2014-08-06 10:04] digiguru opened #34 "Support long lines"
This plugin is great, but I seem to be able to make it stop working..by having a long string concatination.

Look at this example:

[code]
This throws an error - 'Bar' is defined ut never used. W098

However if you remove 1 character from the string

[code]

It works.

(250 chracter limit)

[2014-08-14 07:40] oleksbard opened #35 "Cannot read field of undefined"
![error](http://content.screencast.com/users/dnbard/folders/Jing/media/99b5dcb6-3ae9-4c66-a167-f5845800aef1/2014-08-14_1039.png)

Occurs from time to time when switching on different files.
Windows 7

[2014-08-27 01:57] peterennis opened #36 "No javascript errors but many lightbulbs!"
Windows 8.1 installed v0.42 msi
The source files are meteor javascript. No error reported, but lots of lightbulbs and undefined messages. Links take me to jslint help.
Is there a configuration setup for meteorjs? If not how do I go about making one?

[2014-09-03 08:01] disshishkov opened #37 "TSLint support"
Add [TSLint](https://github.com/palantir/tslint) support

[2014-09-06 11:51] Mark-Simulacrum opened #38 "Add a keyboard shortcut to open description of lint error"
It would greatly help my workflow if I could press some keys to see what the lint at my current cursor position is.

Not really sure what the keyboard shortcut should be, though.

[2014-09-11 18:57] jbmonroe opened #39 "Error with recursive test"
Recursive tests with the same name are not supported. Timer name: CodeInspection:   C:/NCRDev/Customers/def_1.2.js ErrorNotification.js:117
window.console.error ErrorNotification.js:117
Recursive tests with the same name are not supported. Timer name: CodeInspection 'JSHint':  C:/NCRDev/Customers/def_1.2.js ErrorNotification.js:117
window.console.error ErrorNotification.js:117

Is this a problem w

[2014-09-18 02:04] Mark-Simulacrum opened #41 "Remove source & medium from reference site link in code"
https://github.com/MiguelCastillo/Brackets-InteractiveLinter/blob/master/main.js#L12 has this link:

http://jslinterrors.com/?utm_source=javascriptweekly&utm_medium=email

which should probably be changed to

http://jslinterrors.com

[2014-09-18 02:09] Mark-Simulacrum opened #42 "Explore using JSLint explanation sites' API for linting"
The JSLint explanation site provides an API to lint JS files: http://jslinterrors.com/api#lint. Perhaps we could use it as well.

[2014-09-18 22:15] #41 closed, assigned to nobody

[2014-09-18 22:33] #36 closed, assigned to nobody

[2014-09-19 00:23] Mark-Simulacrum opened #44 "RESEARCH: Use CodeInspection methods to get errors, not custom implementation"
Benefits:
- Allows using other extensions' linters within InteractiveLinter

Sample code to achieve:

[code]

This code lints the current file, and prints out to console each error (merging all linter results with lodash#merge. The merging would have to be worked on  - this will probably result in two errors given that both JSLint and JSHint linters are installed and that both report the same erro

[2014-09-19 01:13] Mark-Simulacrum opened #45 "Make Inline Widgets dynamically update"
Following #40; we should update inline widgets dynamically as issues are corrected, instead of closing and reopening them.

---

[Quoting](https://github.com/MiguelCastillo/Brackets-InteractiveLinter/pull/40#issuecomment-56112302) @MiguelCastillo:

---

[2014-09-19 02:06] #38 closed, assigned to nobody

[2014-09-19 02:34] #42 closed, assigned to nobody

[2014-09-24 03:13] #39 closed, assigned to nobody

[2014-09-24 03:20] Mark-Simulacrum opened #52 "Create UI for switching between enabled linter(s)"
Add a UI similar to the language switcher to the status bar, with all available linters for that language. Allow switching between linters using this UI.

Things to consider:
- Don't implement a UI, just put add a preference
- Allow multiple linters per-file (similar to how Brackets does it)
- Anything else?

[2014-09-24 11:18] DinisCruz opened #53 "coffee linter is not picking up nested functions (on inconsistent indentation)"
in this case there is an **inconsistent indentation** on the **before**, **after** and **for** lines
![image](https://cloud.githubusercontent.com/assets/656739/4387396/2d6cc61c-43dc-11e4-9f2b-73683cc9760d.png)

note how if I remove the indentation on line 12 and 13, the check passes

![image](https://cloud.githubusercontent.com/assets/656739/4387392/22669a04-43dc-11e4-82f0-53ade1296cb9.png)

[2014-09-24 20:17] #53 closed, assigned to nobody

[2014-09-26 23:20] JeffryBooher opened #55 "deactivating The view causes padding to be removed from the editor"
The little side padding added to the editor for displaying the warning indicator is removed when the editor loses focus. This is a little annoying when viewing 2 files side-by-side in splitview because the line numbers shift in the active view and the inactive view when switching between views.
1. Start Brackets
2. Vertical Split
3. Open a document in each
4. Switch focus between the two views

[2014-09-27 23:56] JeffryBooher opened #61 "Interactive Linter says All is Ok in status bar when it isn't"
Open a javascript file
add some code
introduce some lint
==> status bar says "OK" yet there are lightbulbs all of the place saying it's not alright.

If you are working on a really big file and there is 1 or 2 pieces of lint then you may overlook them plus the false-positive is a bad experience since it leads the user to believe their code is lint-free when it isn't until they open the console and

[2014-09-30 02:58] #30 closed, assigned to nobody

[2014-09-30 03:24] #61 closed, assigned to Mark-Simulacrum

[2014-09-30 03:25] #55 closed, assigned to nobody

[2014-09-30 03:34] Mark-Simulacrum opened #66 "Interactive Linter status indicator does not update upon switching to a file that has no linters"
I'll take this, should be fairly simple.

[2014-09-30 06:24] JeffryBooher opened #67 "after installing the extension, there are 2 indicators"
I'm not sure if a freshly loaded extension gets an `appInit.appReady` event so the first time the extension runs after installation there are 2 statusbar indicators until the program is restarted.

I was going to recommend that the .`one` handler which hides the default indicator be moved so that it gets installed during module load instead of during `appReady` and have the init code also check if

[2014-09-30 06:31] JeffryBooher opened #68 "clicking on the indicator does nothing"
it would be cool if clicking the statusbar indicator did something like the default indicator does.

it doesn't have to integrate with the code inspection panel (although that would be ideal) -- it could start out by taking you to the first error in the code.  That would make finding errors much easier.

[2014-09-30 18:54] JeffryBooher opened #70 "Feature Request"
Integrate JSON Lint dot com

https://github.com/arc90/jsonlintdotcom/  (MIT License)

[2014-10-01 12:11] #66 closed, assigned to Mark-Simulacrum

[2014-10-02 00:00] #70 closed, assigned to nobody

[2014-10-02 00:07] #35 closed, assigned to nobody

[2014-10-02 02:44] Mark-Simulacrum opened #72 "Inline Widget errors cannot be selected/copied"
This is a issue that is probably low priority, but I thought that it would be good to note it.

More of an issue for developers on the extension (cannot copy linter messages into GitHub) - but we should still fix it - as normal users could want to copy the linter messages, as well.

[2014-10-11 13:18] #68 closed, assigned to nobody

[2014-10-11 13:43] #72 closed, assigned to nobody

[2014-10-11 13:55] #15 closed, assigned to nobody

[2014-10-11 17:29] #67 closed, assigned to nobody

[2014-10-12 15:22] Mark-Simulacrum opened #78 "Support multiple linters per file/language"
LinterManager should allow more than one linter to be registered per language, and should loop through all linters registered for a language and report errors. I am ready to work on the UI part of this implementation (making the inline widgets and panel support multiple linters) - but I am not sure how to do the LinterManager part (I have not worked much with the plugins or workers).

This is the

[2014-10-12 15:22] #33 closed, assigned to nobody

[2014-10-25 13:15] mcalahorro opened #80 "That extension disable lint on brackets sometimes"
Installed it some days ago, all was ok, but after some hours of work the JS linter was off, i did reload of extensions and it come back, then after 20 minutes the linter goes off again.

Today was off still after lots of reloads and close/open brackets, i did uninstall of interactive linter and the linter is working perfectly after it. I will reinstall it and test a bit.

Windows7 Sprint44

[2014-11-02 15:52] #80 closed, assigned to nobody

[2014-11-04 00:24] Mark-Simulacrum opened #82 "Dark Theme support on inline widget errors."
Currently, if you switch to a dark theme, the inline widget errors are very contrasting. We should probably think of an alternative.

Assigning to myself because I have an idea of how this could look.

[2014-11-04 20:23] tciuro opened #85 "The interactive linter area doesn't show the icon anymore"
The interactive linter area (bottom right of the window, between the "Language" popup and "Spaces" no longer displays the OK/green checkmark or warning icon.

![45b8082a-643f-11e4-87ce-4c44404c4dc7](https://cloud.githubusercontent.com/assets/412899/4907293/6c866c32-6460-11e4-9938-81695d34dcb1.png)

[2014-11-05 22:50] #82 closed, assigned to Mark-Simulacrum

[2014-11-19 22:53] Mark-Simulacrum opened #87 "[Policy] Use of LoDash"
@MiguelCastillo

Thought it best to open this up as an issue. Do we prefer to use LoDash, or not? Consider that Brackets policy states that native methods/ways are preferred over LoDash; however, object iteration and other non-simple native patterns can use LoDash.

[2014-11-22 00:50] MiguelCastillo opened #91 "Support for css"

[2014-11-22 00:50] MiguelCastillo opened #92 "Support for jsx"

[2014-12-01 19:43] #87 closed, assigned to nobody

[2014-12-04 12:43] #44 closed, assigned to Mark-Simulacrum

[2015-01-18 17:07] RB-Lab opened #96 "Support for .jshintrc inheritance"
JSHint supports inheritance of its settings file using strings like `"extends": "../.jshintrc"` ([see here](https://github.com/jshint/jshint/pull/1314)). As far as I can see InteractiveLinter loads settings on it's on. As a user I want to see support of this feature in InteaciveLinter.
Maybe it would be better to concatenate all settings from current folder to project's root. JSHint itself has to

[2015-02-11 01:16] zaggino commented on #44
I couldn't find `MiguelCastillo/Brackets-InlineLinting` in the extension registry, is it released? What does it do?

I've put together a [linter for ESLint](https://github.com/zaggino/brackets-eslint), it works but I'd like to see errors inline like interactive linter does it.

[2015-02-11 01:26] Mark-Simulacrum commented on #44
@zaggino `Brackets-InlineLinting` has not been worked on (yet) to my knowledge. The code that allows seeing errors inline is in `Brackets-InteractiveLinter`: integrating CodeInspection was planned for `Brackets-InlineLinting`, but due to time constraints, it was never started or finished.

[2015-02-11 03:24] MiguelCastillo commented on #44
@zaggino A bit more details on inline linting...  I want to abstract out interactive linters UI and put it on top of the codeinpector API.  The intent is to basically provide interactive linter's UI for every linter that plugs into Brackets' linting API.  I have put it aside for a bit, but I would be happy to start it if there is enough interest :)

[2015-02-11 03:54] zaggino commented on #44
I'd be definitely interested :) I'm starting a few projects where I'll be using `ESLint` which doesn't have any good extension for Brackets so I put one together, but now I'm missing nice inline stuff that I was used to.

Personally I don't think it should be too difficult, but you'd probably need to publish a new event somewhere around here https://github.com/adobe/brackets/blob/master/src/langua

[2015-02-12 23:00] JeffryBooher commented on #31
:+1:

[2015-02-15 14:22] briandipalma commented on #31
I found https://github.com/peol/brackets-eslint but it is using an old version of ESLint. When I get some time I might fork it and simplify it.

[2015-02-15 21:09] peteruithoven commented on #31
I tried using [brackets-eslint](https://github.com/peol/brackets-eslint) with the interactive linter, but it doesn't work. It's warnings don't show up. I also reported this with brackets-eslint: https://github.com/peol/brackets-eslint/issues/7

[2015-02-27 18:19] MiguelCastillo commented on #31
Alright folks, thanks for patiently waiting. I am going to be looking into this feature this weekend.  We'll see how it goes :)

[2015-03-09 12:08] yahyaKacem commented on #31
what's the state of this issue is it implemented yet?

[2015-03-15 13:20] yahyaKacem opened #98 "support for HTMLhint"
Hi, thanks for this tool, I think adding HTMLHint here would be great there's already [one](https://github.com/cfjedimaster/brackets-htmlhint) but not interactive.

[2015-03-16 00:01] MiguelCastillo commented on #92
@zaggino i have merged jsx into master.  Do you think you can give it a try?

[2015-03-16 06:55] zaggino commented on #92
with latest master i get this, same error, different design:
![image](https://cloud.githubusercontent.com/assets/1067319/6661743/974e0e54-cc05-11e4-89d7-0d2b42070516.png)

[2015-03-16 12:05] MiguelCastillo commented on #92
Is ur file extension jsx?

[2015-03-16 12:53] zaggino commented on #92
`.es6`, but it shouldn't matter what extension the file is, as long as it's considered as javascript by brackets, no?

[2015-03-16 13:02] MiguelCastillo commented on #92
i have a really naive (temporary) check to only process jsx file by checking the extension... because I didn't want to incur the extra processing cost.  But this is my first pass and I wanted to get your feedback, so no biggie.  I am working on adding a config UI to select the javascript linter you want to use and a checkbox to enable jsx.  This will allow me to run jsx on any javascript.  Next co

[2015-03-16 13:08] zaggino commented on #92
Sure, no rush ... I'm working full-time on a backend stuff anyway so no time to play with React ...

[2015-03-17 13:37] MiguelCastillo opened #101 "add support for multiple reporters"

[2015-03-20 01:47] MiguelCastillo opened #102 "update to latest jshint"

[2015-03-22 13:06] MiguelCastillo opened #104 "Improve minified code detection by checking is the content has comments"

[2015-03-23 20:17] MiguelCastillo commented on #31
@yahyaKacem I am currently working on adding multiple lint support, in which I am support for preferences so that you can pick eslint.  It is coming along very well, but it is a major change so it is a bit slower than I'd like.  But please stay tuned... I will be releasing this soon

[2015-03-23 23:14] peteruithoven commented on #31
Nice! Keep up the great work!

[2015-03-24 02:49] MiguelCastillo opened #105 "add support for brackets preferences"

[2015-03-24 10:07] yahyaKacem commented on #31
@MiguelCastillo when you said `multiple lint support` do you mean multiple JavaScript lint support or other languages too like HTMLLint and CSSLint...?
And thanks, this is better then the regular Brackets linter where I have to open it to see the errors.

[2015-03-25 22:18] stefan-schweiger opened #106 "Make Interactive Linter compatible to JSCS"
As described in (this issue)[https://github.com/globexdesigns/brackets-jscs/issues/19] Interactive Linter does stop JSCS issues from being displayed in the "Lint Window" (I don't know a better name for it, the box on the lower side of the window with the lint issues).

Please don't block other extensions from display their issues in there if they are not supported by your extensions.

Also maybe a

[2015-03-27 21:44] MiguelCastillo commented on #31
@yahyaKacem I have tabled multiple linter support to get eslint support quicker in your guys' hands...  But multiple linter will allow users to specify multiple linters to run in sequence.  This is very useful to allowing users to specify `jsx` and then `jshint` linting.  The purpose to have linters transform text and aggregate linting results for a more flexible linting workflow.

Anyways...  I h

[2015-03-28 01:04] MiguelCastillo commented on #31
/@all alright I just merged it to master.  Please let me know if there are issue.

@yahyaKacem I am thinking about adding support for linters for other languages like CSSLint and HTMLLint.  I also would love to get PRs for those :)

[2015-03-28 01:04] #31 closed

[2015-03-28 12:07] MiguelCastillo commented on #105
https://github.com/MiguelCastillo/Brackets-InteractiveLinter/commit/dbd9b098428b548e05015716a64490dcc03fe3ba

[2015-03-28 12:07] #105 closed

[2015-03-28 12:07] MiguelCastillo commented on #102
https://github.com/MiguelCastillo/Brackets-InteractiveLinter/commit/f2230da903a96dda7dc96a0a898f2d479bf4cab5

[2015-03-28 12:07] #102 closed

[2015-03-28 15:27] MiguelCastillo commented on #34
https://github.com/MiguelCastillo/Brackets-InteractiveLinter/issues/34

[2015-03-28 15:33] #104 closed

[2015-03-28 15:38] MiguelCastillo commented on #34
added better detection of minified javascript.  The linter should be able to handle your sample code correctly. please let me know if you run into other issues.

[2015-03-28 15:38] #34 closed

[2015-03-28 18:24] MiguelCastillo commented on #92
@zaggino alright. I have added a way to configure `jsx` linting.  This is not as elegant as I would like it because the `jsx` linter will automatically run `jshint` for you, and there is no way to change that via configuration.  I am experimenting with 'multiple linter' implementation I put together that allows me to configure sequences of linters...  This will basically allow me to run `jsx` and

[2015-03-29 14:43] MiguelCastillo commented on #98
done

[2015-03-29 14:43] #98 closed

[2015-03-29 19:01] #91 closed

[2015-03-29 21:56] MiguelCastillo opened #115 "refactor reporter and plugins to use `message` instead of `reason`"

[2015-03-29 22:08] MiguelCastillo opened #116 "add ability to click on error panel entry and move the cursor to the particular error location"

[2015-03-29 22:09] MiguelCastillo commented on #116
Not applicable. it is already supported... :)

[2015-03-29 22:10] MiguelCastillo commented on #116
The error was a regression in JSX support

[2015-03-29 22:16] MiguelCastillo commented on #115
fixed with https://github.com/MiguelCastillo/Brackets-InteractiveLinter/pull/117

[2015-03-29 22:16] #115 closed

[2015-03-29 22:20] MiguelCastillo commented on #116
Its actually not fully implemented.  we take the cursor to the line number but not the column where the issue happens.

[2015-03-31 00:18] Mark-Simulacrum commented on #116
It seems that the lint panel should be sending the user to the correct character position: https://github.com/MiguelCastillo/Brackets-InteractiveLinter/blob/master/lintPanel.js#L74.

Not sure why the character field isn't being set/isn't set correctly.

[2015-03-31 02:06] MiguelCastillo commented on #116
@Mark-Simulacrum yeah you are right!  Thanks for pointing that out.

[2015-04-02 01:56] MiguelCastillo commented on #116
fixed https://github.com/MiguelCastillo/Brackets-InteractiveLinter/pull/118

[2015-04-02 01:56] #116 closed

[2015-04-02 12:16] Mark-Simulacrum commented on #32
I've gone through some (5-10) error codes, and they all seem to work.

[2015-04-02 12:57] MiguelCastillo commented on #32
@Mark-Simulacrum thanks for checking! Somehow this one has taken a bit of a backseat...  Maybe it is worth testing the links again.  I will take a look this weekend.

[2015-04-03 17:29] rtp-calpoly opened #119 ".jshintrc configuration not loaded"
I am trying to use a .jshintrc configuration file within the root of my project, but I cannot make InteractiveLint to load those settings. I have attached a screenshot in which I show the .jshintrc configuration file and my JavaScript file. The configuration file for my brackets project is (I am showing only linting-related options):

    {
        "linting.collapsed": false,
        "language": {

[2015-04-03 18:24] MiguelCastillo commented on #119
@rtp-calpoly quick question.  Did you restart Brackets after you created the jshintrc file? or was the jshintrc file before and you started Brackets?

There is an issue with interactive linter where newly created jshintrc files are not picked up until Brackets is restarted.  I wonder if that's what's happening.

[2015-04-03 18:33] rtp-calpoly commented on #119
@MiguelCastillo I restarted Brackets after creating the .jshintrc file by myself. Should I better remove that file, restart Brackets and wait for InteractiveLint to create its own?

[2015-04-03 18:47] MiguelCastillo commented on #119
@rtp-calpoly no need to delete the file.  I am still puzzled by this.  With brackets loaded, could you open up brackets' dev tools and see if there are any errors from interactive linter?

[2015-04-03 22:56] rtp-calpoly commented on #119
@MiguelCastillo : I have just arrived home and I am trying it with a "fresh" brackets installation. I had an initial .jshintrc file and I installed InteractiveLint, reloaded brackets and, as far as I understand, it should have automatically loaded the settings from the .jshintrc file and applied them to the project, am I wrong?

I also removed the .jshintrc file and restarted brackets twice for In

[2015-04-04 00:23] MiguelCastillo commented on #119
@rtp-calpoly yeah interactive linter will automatically pick up any `.jshintrc` file in your project.  Did you get a chance to check the console log in the dev tools?

[2015-04-04 00:27] MiguelCastillo commented on #119
@rtp-calpoly I just reinstalled interactive linter, and setup a `.jshintrc` file and it works like a champ...  let's see if the console log shows any problems.

[2015-04-04 13:02] yahyaKacem opened #120 ".jslintrc not loaded"
I have the same problem as #119 with `.jslintrc` file I'm using:
Brackets: Release 1.2 experimental build 1.2.0-15697 (release 8f82e2a97)
just reinstalled interactiveLinter
this are the config files I have in the root of my project:
.brackets.json:

    {
        "smartIndent": true,
        "spaceUnits": 2,
        "useTabChar": false,
        "jwolfe.file-tree-exclude.list": [
            ".git"

[2015-04-04 14:16] MiguelCastillo commented on #120
@yahyaKacem you would need to configure `jslint` in your `.brackets.json` as described [here](https://github.com/MiguelCastillo/Brackets-InteractiveLinter#linter-per-language-run-time).

Your `.brackets.json` should look like this:

[code]

Let me know if that fixes your issue.

[2015-04-04 14:17] MiguelCastillo commented on #119
@rtp-calpoly have you had a chance to check with the devtools console?

[2015-04-04 15:07] rtp-calpoly commented on #119
@MiguelCastillo , check this out:

    NodeSocketTransport - start /LiveDevelopment/MultiBrowserImpl/transports/NodeSocketTransport.js:87
    Worker: No parameter type found ScopeManager.js:1072
    Worker: No parameter type found ScopeManager.js:1072
    Worker: No parameter type found ScopeManager.js:1072
    Worker: Error thrown in tern_worker:Cannot read property 'length' of undefined
    Type

[2015-04-04 15:18] MiguelCastillo commented on #119
@rtp-calpoly that's the javascript code hinting functionality in Brackets having some issues.  I don't believe that's related to interactive linter.

But one thing is that jshint is the default linter in interactive linter.  Have you tried just removing the interactive-linter configuration from `.brackets.json`?   Do you have anything defined in the global `brackets.json`?

[2015-04-04 15:21] rtp-calpoly commented on #119
@MiguelCastillo , right now, I only have the global configuration file for Brackets, that contains the following configuration:

    {
        "jwolfe.file-tree-exclude.list": [
            "node_modules",
            "bower_components",
            ".git",
            "dist",
            "vendor"
        ]
    }

I do not think that this configuration is lint-related. I might have to re-install b

[2015-04-04 15:22] MiguelCastillo commented on #119
@rtp-calpoly i dont see anything wrong with that... I dont think it is necessary to reinstall brackets.

[2015-04-04 15:23] MiguelCastillo commented on #119
@rtp-calpoly i am just noticing that you are running in Ubuntu, or some other similar distro of Linux.  I am not sure if that has anything to do with this.  I will run a couple tests there and see what happens.  Also, what version of Brackets do you have installed?

[2015-04-04 15:27] rtp-calpoly commented on #119
@MiguelCastillo , I would swear that I am using the last available one:

    Release 1.2 experimental build 1.2.0-15697 (release 8f82e2a97)
    build timestamp: Tue Feb 24 2015 21:16:20 GMT-0800

... I have just realized that it is an "experimental" one - I was not aware of this. Might I check with people at Brackets better?

[2015-04-04 15:32] MiguelCastillo commented on #119
@rtp-calpoly nope that version look good.

[2015-04-04 17:29] yahyaKacem commented on #120
OK, I just done that now it ignores everything:
this is my new .brackets.json:

    {
      "smartIndent": true,
      "spaceUnits": 2,
      "useTabChar": false,
      "jwolfe.file-tree-exclude.list": [
        ".git",
        "node_modules"
      ],
      "interactive-linter.javascript": ["jslint"],
      "language": {
        "javascript": {
          "linting.prefer": ["jslint"],
          "li

[2015-04-04 18:39] rtp-calpoly commented on #119
@MiguelCastillo , ok, I tried the following:

1) I removed Brackets and all its related folders ($HOME/.config/Brackets and /opt/brackets).
2) I installed Brackets from scratch with no extensions.
3) I configured only "FileTreeExclude" and "JSHint".
4) "JSHint" was configured with its own ".jshintrc" file at the root of the project. It works well and adds "angular" as a predefined global word (see

[2015-04-05 12:35] Mark-Simulacrum commented on #120
@MiguelCastillo

I may have found the issue. When a file is opened, the path where the `.jslintrc`/`.jshintrc` is being looked for is `Brackets-InteractiveLinter/linterSettings.js/.jshintrc`, not (the expected) `Brackets-InteractiveLinter/.jshintrc`.

Note that I am doing this with JSHint enabled, not JSLint -- but this sort of bug (I suspect) would not be linter-plugin specific.
This is probably

[2015-04-05 13:10] Mark-Simulacrum commented on #120
This diff to `linterSettings.js` seems to fix the issue, but I'm not sure if this is the best place to put the code in.

[code]

[2015-04-05 14:32] MiguelCastillo commented on #120
@Mark-Simulacrum `find` will traverse the directory hierarchy.  It will see that `Brackets-InteractiveLinter/linterSettings.js` is not a directory and move on up the next level.  The code change you are presenting will be a good optimization, but I don't believe that will fix the issue.

@yahyaKacem Do you think you can post your dev tools console log?  I have feeling you are getting errors.

[2015-04-05 14:50] RB-Lab commented on #120
Looks like the problem came from here: https://github.com/MiguelCastillo/Brackets-InteractiveLinter/blob/master/linterSettings.js#L40 - when `file.exists` try to look up for the file like `Brackets-InteractiveLinter/linterSettings.js/.jshintrc` it fails with error "Unknown" (actually it's ERR_NOT_DIRECTORY)

[2015-04-05 15:02] MiguelCastillo commented on #120
@RB-Lab Hmmm, I don't see that...  Do you see the actual promise getting rejected?  What OS are you running?

Since you are already debugging, try putting `console.log("====>", filePath);` in `find` so that it looks like this:

[code]

[2015-04-05 15:23] RB-Lab commented on #120
I'm on Ubuntu 14.04.
I didn't write console.log (since I can't figure out how actually to reload the extension after it) but in debugger `filePath` looks like this: `"/var/www/StuffReact/src/js/dispatchers/AppDispatcher.js"`

[2015-04-05 15:31] RB-Lab commented on #120
Looks like problem can be solved adding `getParentPath` like that:
[code]
But I'm not sure if it right way...

[2015-04-05 15:39] MiguelCastillo commented on #120
It is interesting you are also seeing this error then...  https://github.com/MiguelCastillo/Brackets-InteractiveLinter/issues/119 is also running ubuntu.  I haven't had much time to debug the issue in ubuntu quite yet.  What @Mark-Simulacrum and you are proposing fixes the issue you are seeing, although I also concerned about the underlying inconsistency of the error you see, which I don't.

@Mark

[2015-04-05 15:58] MiguelCastillo commented on #120
@Mark-Simulacrum just doing `filePath = FileUtils.getDirectoryPath(filePath);` should be sufficient.  We only to strip out files from the path. :)

[2015-04-05 16:05] Mark-Simulacrum commented on #120
@MiguelCastillo I am running Ubuntu 14.10 (Linux 3.16.0-28-generic #38-Ubuntu SMP x86_64 x86_64 x86_64 GNU/Linux). I could make a PR but I'd be unable to thoroughly test -- the current state is that the changes I make to the extension are not accurately represented by Brackets. It takes me a restart of Brackets to get the changes represented in the console, and even that fails sometimes. The PR wo

[2015-04-05 16:12] MiguelCastillo commented on #120
@Mark-Simulacrum I don't quite understand what you mean by - the changes to the extension are not accurately represented by Brackets.  How can I help you test?

[2015-04-05 16:14] Mark-Simulacrum commented on #120
I'm not sure what is wrong -- when I reload Brackets (Reload with extensions), the changes in console are not represented. If I (before the reload) had `console.log("test");` and now have `console.log("test2");`, I don't reliably see "test2" in the console.

[2015-04-05 16:50] yahyaKacem commented on #120
@MiguelCastillo I'm running Ubuntu 14.04.
this is my dev tools console log (it's too long):

    Download the React DevTools for a better development experience: http://fb.me/react-devtools /thirdparty/react.js:4356
    Deprecated: Do not use $().on/off() on Brackets modules and model objects. Call on()/off() directly on the object without a $() wrapper.
        at new _beforeHTMLReady.jQuery.fn.i

[2015-04-05 17:04] MiguelCastillo commented on #120
Alright, our culprit just seems to be the inconsistency in the file system between Ubuntu and Mac...

@Mark-Simulacrum I am going to be stepping out for a bit so I wont be able to help until later tonight.  The changes you are proposing are safe and something we will need anyways... So I am comfortable committing it to master with the adjustment to not strip trailing slashes.

e.g.

[code]

@rtp-c

[2015-04-05 17:23] Mark-Simulacrum commented on #120
Changes have been merge into `master`. If you would like to test them out, the following steps should allow you to use the version of Brackets-InteractiveLinter on `master`.

1. Find the `extensions/user` directory in the configuration of your Brackets installation.
 - For me this is `~/.config/Brackets`.
1. `git clone` the repository from GitHub, and remove the currently installed version from th

[2015-04-05 17:40] rtp-calpoly commented on #119
@MiguelCastillo , in my case it is working now with the new "cloned" version... awesome job! You should get a badget for "best customer support" :+1:

![screenshot from 2015-04-05 10 44 31](https://cloud.githubusercontent.com/assets/5666358/6997816/f2bc7b34-db7f-11e4-97a9-0396d75437e8.png)

[2015-04-05 17:41] #119 closed

[2015-04-05 17:41] rtp-calpoly commented on #120
I have just tried the new version and it solves the problem with JSHint, take a look at the attached screenshot.

![screenshot from 2015-04-05 10 44 31](https://cloud.githubusercontent.com/assets/5666358/6997824/5f0e9f60-db80-11e4-917d-68988ed34de2.png)

[2015-04-05 18:28] yahyaKacem commented on #120
I just tried the new version and it works perfectly for JSLint too thanks.

[2015-04-05 19:19] Mark-Simulacrum commented on #120
Good to hear. I'm going to move this issue to a new issue detailing the specific problem.

[2015-04-05 19:19] #120 closed

[2015-04-05 19:22] Mark-Simulacrum opened #122 "Linter settings are not reliably loaded on all platforms"
As detailed in #120 and #119, on Ubuntu -- and perhaps other operating systems -- We need to call `FileUtils.getDirectoryPath` and `stripTrailingSlashes` on files in order to allow the file path of the settings to be correctly found/loaded.

If working up the file tree (traversing) works, then perhaps the issue happens due to a trailing slash being present in the path. In that case, we can a) simp

[2015-04-06 00:56] MiguelCastillo commented on #122
fixed with https://github.com/MiguelCastillo/Brackets-InteractiveLinter/pull/121

[2015-04-06 00:56] #122 closed

[2015-04-06 01:00] MiguelCastillo commented on #120
@yahyaKacem @rtp-calpoly I have just pushed out a couple of tweaks. I am hoping this is the final code before we publish this to the registry.  Do you mind giving it a quick try, please??

To install it from master, you can also go to the extension manger dialog, select the button to install from url on the bottom left of the dialog, and paste `https://github.com/MiguelCastillo/Brackets-Interactiv

[2015-04-06 15:05] rtp-calpoly commented on #120
@MiguelCastillo , I have just tried it again and it looks like it is working now! Good job!

[2015-04-06 21:45] yahyaKacem commented on #120
@MiguelCastillo thanks, this version has no problems so far.

[2015-04-07 12:53] MiguelCastillo commented on #120
@yahyaKacem @rtp-calpoly thank you guys. I will publish these changes once the registry comes back up.

[2015-04-16 21:57] MiguelCastillo opened #124 "light bulbs and inline problem widgets dont resize correctly with large font size"

[2015-04-17 04:28] #124 closed

[2015-04-20 19:07] patotoma opened #126 "Skipping command file.close_window because it looks like you are at a breakpoint."
Hello,

I am using Brackets on ubuntu 14.04 and when I install this plugin I am unable to close Brackets. Everything is working fine at first but when I attempt to close Brackets I get this error:

"Skipping command file.close_window because it looks like you are at a breakpoint. If you are NOT at a breakpoint, please file a bug and mention this comment. Stack depth = 3."

The error repeats every

[2015-04-27 23:14] rtp-calpoly opened #127 "Interactive linter and HTML: "no start tag""
I am posting this issue despite that I am aware that it might not be an issue directly attributable to the Interactive Linter plugin. When examining the following piece of HTML code:

    <form name="tle-select" ng-controller="tleSelectCtrl">
        <input type="radio" ng-model="i.tle_select" value="manual">manual</input>
        <input type="radio" ng-model="i.tle_select" value="auto">auto</inpu

[2015-04-28 18:23] andrewnaumann commented on #127
hey @rtp-calpoly ! I was looking over your code and I think the issue is that input is a void element. You shouldn't be closing it.  This is from W3.org

You can find what I quoted in section 4.3
http://www.w3.org/TR/html-markup/syntax.html

[2015-04-28 20:19] rtp-calpoly commented on #127
@andrewnaumann : yes, you are right. I did not know that the HTML specification permitted that kind of "relaxation" over the XHTML specification. I have changed my code to a self-closing input tag linked to a label:

    <form name="tle-select" ng-controller="tleSelectCtrl">
        <input id="manual-radio" type="radio" ng-model="i.tle_select" value="manual" />
        <label for="manual-radio">ma

[2015-04-28 20:19] #127 closed

[2015-05-01 12:32] JakeGinnivan opened #129 "Specifying rules in .eslintrc stops interactive linter working"
In `.brackets.json` we added `"interactive-linter.javascript": ["eslint"]`

Then our `.eslintrc` looks like this
[code]

And we get nothing. If we remove the rules section things start working like we would expect. Any ideas why having custom rules breaks everything?

[2015-05-01 13:00] JakeGinnivan commented on #129
Ok looking into the issue it seems eslint expects all options to have a value, and `util.mixin` is not recursive. As soon as I specify rules, the defaults are not mixed in.

[2015-05-02 00:29] MiguelCastillo commented on #129
@JakeGinnivan thanks for logging this issue.  So I tried using your .eslintrc and it worked just fine.  I took this project https://github.com/MiguelCastillo/Brackets-Harmony.  I added a `.eslintrc` with your settings and jsx and es6 worked as expected.  I changed the rule about quotes and changed it to just verify that things were working, and I had no issues...

Do you think you can clonse the B

[2015-05-02 00:54] MiguelCastillo commented on #129
@JakeGinnivan I did find an issue and fixed it here https://github.com/MiguelCastillo/Brackets-InteractiveLinter/pull/131.  The issue is that warning were reported and errors and errors as warning... Had my logic mixed up.

[2015-05-02 01:55] MiguelCastillo commented on #126
@patotoma Hi!  Thanks for logging this and using my extension :)

I got a few questions.

1. What version of Brackets are you using?
2. What other plugins are you using?
3. Do you get any error in the console log before you close Brackets?

[2015-05-02 11:21] JakeGinnivan commented on #129
Strange. Basically when I debugged I saw https://github.com/MiguelCastillo/Brackets-InteractiveLinter/blob/master/plugins/default/eslint/main.js#L18

`options.rules` contain my small subset, then `options.defaultRules` contained all of the defaults. After that line `options.rules` still contained by subset.

I will have to wait until Tuesday to be back at work to see the exact setup and plugins.

[2015-05-02 11:22] JakeGinnivan commented on #129
Oh, and `results` was null, so it looked like when you did not pass all options to `eslint.verify(source, options)` it returned null...

Because it failed on https://github.com/MiguelCastillo/Brackets-InteractiveLinter/blob/master/plugins/default/eslint/main.js#L28 with `.length` not existing on undefined

[2015-05-03 08:35] patotoma commented on #126
Thanks for your answer,

I am using:
* Brackets Release 1.3 experimental build 1.3.0-16022 (release cd0a6aae5)
build timestamp: Fri Apr 24 2015 05:29:46 GMT-0700

* Brackets-InteractiveLinter v1.0.2

I just removed all other plugins and installed only this one and the problem still remains.
I aslo tried to set default settings but it didnt change anything.

There are no errors in console before I

[2015-05-05 18:20] MiguelCastillo commented on #129
@JakeGinnivan yeah that's totally an oversight!  I have fixed it here https://github.com/MiguelCastillo/Brackets-InteractiveLinter/pull/133

As far as merging rules go...  If you specify an entry in your local `.eslintrc`, then those will take precedence over what's defined in `default.json`.  So if you specify `rules` in you `.eslintrc`, then whatever is specified in `default.json` will not be us

[2015-05-05 18:38] JakeGinnivan commented on #129
Will give it a go tomorrow. Thanks

[2015-05-05 18:38] MiguelCastillo commented on #129
@JakeGinnivan awesome! thank you

[2015-05-06 13:49] raybooysen commented on #129
@MiguelCastillo, I'm working with @JakeGinnivan and master is working much better, using just the subset of rules Jake references above.

[2015-05-06 13:53] MiguelCastillo commented on #129
@raybooysen @JakeGinnivan Awesome, glad to hear.  I will keep this issue open for a couple more days while you guys use it a bit more...  We can close this issue then.  Thanks for helping me test this.

[2015-05-12 23:00] MiguelCastillo commented on #129
Hey guys, I am going to go ahead close this issue as resolved.  We can reopen it, or log news ones accordingly.  Thanks for helping debug this.

[2015-05-12 23:00] #129 closed

[2015-05-14 10:35] JakeGinnivan commented on #129
Thanks for the fixes!

[2015-05-15 03:11] urbanmonk opened #135 "Expected RBRACE"
I'm using jqGrid  3.5.3 in a project and getting the following message:

Expected RBRACE at line 617, col 24 in ui.jqgrid.css (line 617 is below). I believe this is something to do with the parser?

width: expression(this.parentNode.offsetWidth+'px');

[2015-05-20 19:21] btm1 opened #136 "it's not clear how to override default options"
how do I specify "unused":false at a project level from my .brackets.json file?

[2015-05-20 20:10] MiguelCastillo commented on #136
would that be for eslint?  then you will need a .eslintrc file with that option in it.

.brackets.json is purely for configuring which linter runs for each language.

[2015-05-27 01:24] Poorchop opened #137 "Installing the extension prevents the use of any functions within Brackets"
This is an excellent extension and it's something that I consider a necessity, but it renders me unable to do anything in Brackets. I can't install other extensions, changes preferences, save files, or even close Brackets. This is the error being thrown in the console:

[code]

[2015-05-27 01:31] MiguelCastillo commented on #137
@Poorchop thanks for using this extension!  glad you find it useful.

What OS are you using?

[2015-05-27 01:41] Poorchop commented on #137
Windows 8.1 64bit and the latest stable release of Brackets.

[2015-05-27 01:56] MiguelCastillo commented on #137
Ok, let me test that... I haven't ran into that issue.

[2015-06-01 00:10] bobrocke commented on #136
I'm confused about the format. If I add
[code]
to my brackets.json file, just like that, it fails the linting (ironically).

Does it need to be something like:
[code]

[2015-06-01 00:13] MiguelCastillo commented on #136
Your first format is correct

[code]

By failures, do you mean you need to add a `.eslintrc` to configure eslint, or interactive linter is failing to do its job?

[2015-06-01 00:15] bobrocke commented on #136
I get this error:

![brackets json www br dev brackets](https://cloud.githubusercontent.com/assets/2962426/7904649/c95ee262-07d1-11e5-8a5b-755ee5aeeddc.jpg)

[2015-06-01 00:17] bobrocke opened #138 "Can Other Linters Be Easily Added?"
Or are there plans to add YAML, SCSS, LESS, CSON and PHP linters?

[2015-06-01 00:18] bobrocke commented on #137
I saw this briefly on Mac OS X 10.10.3, but the problems cleared up after restarting Brackets.

[2015-06-01 00:24] MiguelCastillo commented on #136
it looks like you have extra curly brackets surrounding the interactive linter settings.  Here is what full `.brackets.json` looks like.

[code]

[2015-06-01 00:27] bobrocke commented on #136
Oh! I pasted it in from the example thinking it was the addition to brackets.json. Each is a separate object, instead.

[2015-06-01 00:38] MiguelCastillo commented on #136
yup. is that working for ya?

[2015-06-01 00:39] bobrocke commented on #136
I think yes.

[2015-06-01 00:40] bobrocke commented on #136
But on save I'm getting two checks:

![brackets json www br dev brackets](https://cloud.githubusercontent.com/assets/2962426/7904715/3694bf5c-07d5-11e5-992e-3896a6dce328.jpg)

[2015-06-01 00:40] MiguelCastillo commented on #138
Other linters can be easily added.  I am really happy to take in PRs if you want to give it a try :).   I don't really have much bandwidth right now to that myself.

Here is some documentation for creating your own interactive plugins. https://github.com/MiguelCastillo/Brackets-InteractiveLinter/tree/master/plugins

[2015-06-01 00:50] MiguelCastillo commented on #136
very odd!  It means you either two copies of interactive linter running, or somehow interactive linter was unable to find the indicator from the native linter Brackets comes with.

Do you get any errors in the brackets debugging console.log?

[2015-06-01 00:58] bobrocke commented on #136
This the moment I started to edit the JSON file:

![devtools html](https://cloud.githubusercontent.com/assets/2962426/7904783/a2fcd358-07d7-11e5-9240-144e7f54f15d.jpg)

But none on save when the second check popped up.

[2015-06-01 02:55] bobrocke commented on #136
Is there a way to disable "normal" linting and leave only interactive linting?

[2015-06-01 03:57] MiguelCastillo commented on #136
interactive linter disables the native linter...  What version of Brackets are you running?  What other extensions are you running?  It could be possible that you have another extension that is interfering.

[2015-06-01 04:32] bobrocke commented on #136
Brackets 1.3

[code]

[2015-06-06 18:47] tnhu opened #139 "Shortcuts to move to next/previous lint issue"
Thank you for the hard work. It would be nice if there are two shortcuts to move cursor to next/previous lint issue.

[2015-06-07 21:07] bobrocke opened #140 "Package a LESS linter?"
LESS is used in so many places by Brackets, I would think a LESS interactive linter would be in demand. Would you consider adding one to the default set?

[2015-06-07 21:27] bobrocke opened #141 "Ruby based linters?"
Can Ruby based linters be packaged and called?

[2015-06-08 00:25] bobrocke commented on #136
Does anything there look out of order?

[2015-06-08 19:56] bobrocke commented on #136
It's still weird:

![brackets json www br dev brackets](https://cloud.githubusercontent.com/assets/2962426/8043884/e15b2030-0df6-11e5-88ad-48e2d4ed6d02.jpg)
![markdown-utilities js www br dev brackets](https://cloud.githubusercontent.com/assets/2962426/8043866/d0688786-0df6-11e5-8ea3-623f4bbdd5f8.jpg)

[2015-06-08 20:54] bobrocke commented on #136
If I reload, then the extra linter icon goes away. But if I then switch to another open file, I get both icons again, until I reload.

Does that suggest a root cause?

[2015-06-10 23:14] bobrocke opened #142 "Are .jshintrc files above the project loaded?"
If my .jshintrc file is in my user directory, will the interactive linter load it from there, or must it be in the project folder?

[2015-06-11 01:40] MiguelCastillo commented on #142
@bobrocke sorry I haven't responded to your other issues/enhancement requests.  Been swamped.  But the answer this is no, interactive linter stops looking right the project directory.  The proper use would be to open the directory with the .jshintrc, which is where you probably have other config files.

[2015-06-12 14:26] bobrocke commented on #142
Would you consider adding the ability to search up though the folder hierarchy until a `.jshintrc` is found and use that? It would make it much easier, as that is the default for many other tools, and allows an individual to have a common standard, but then to modify that standard on projects that require differences.

[2015-06-15 15:59] MiguelCastillo commented on #142
@bobrocke This would be going against the "project" based approach in brackets.  But while I am not really opposed to it, I would want to test it for a bit before committing to adding this functionality.  Would you be interested in submitting a PR?

[2015-06-15 16:00] MiguelCastillo commented on #141
@bobrocke I haven't even thought of this...  I am not much of a Ruby guys, so I can't tell you how well it would fit.  Any interest in a PR?

[2015-06-15 16:11] MiguelCastillo commented on #140
I think this would be possible leveraging the css linter that already exists.  grunt less linter converts less files to css and then lints the result.  I do a similar process with JSX and JSHint...  Let me see how I can add this.

[2015-06-15 16:12] MiguelCastillo commented on #138
closing this one... if there are other questions, we can reopen or open a new issue.

[2015-06-15 16:12] #138 closed

[2015-06-15 22:17] bobrocke commented on #141
I'm not a Ruby guy either. Knowing the path to a gem, is there any reason this code base wouldn't be able to launch a ruby gem top be run by an installed Ruby interpreter??

[2015-06-15 22:17] bobrocke commented on #142
I have looked at your code. Is this something another person could work through?

[2015-06-16 04:40] Poorchop commented on #137
Building on @bobrocke's findings, it turns out that if you install the extension, force quit Brackets (as you will be unable to exit normally), then restart Brackets, everything will work normally and you will be able to quit Brackets normally from now on. It's only the initial install of the extension that causes issues. I'm glad that I can still use this extension at the very least because I was

[2015-06-22 22:42] noderat commented on #141
Looks like it's been done before for [sass-lint](https://www.npmjs.com/package/scsslint).

[2015-06-28 15:16] OffByNone opened #145 "Auto Detect which linter to use based on config files in current project"
It would be really nice if this could look at my currently open project for linter config files and if present, use whichever (supported) linter they are for and the settings contained within.
Ex. Recognize that I have .eslintrc and .eslintignore files in the root project folder.  Enable eslint with the settings contained in the two files.

[2015-07-03 14:19] cgfrost commented on #78
I'd like to bump this one, I'm trying to use JSCS and JSHint together. I'm very happy to do testing from a branch if it helps.

I assume the config in `brackets.json` should look like this once implemented.
[code]

[2015-07-24 19:23] MiguelCastillo opened #146 "JShint throws exception and interactive linter no longer works"
This happens when JSHint throws an exception while parsing JS, which is common when interactive linter runs while code is being typed and is not valid JS.

[2015-07-24 19:32] MiguelCastillo commented on #146
https://github.com/MiguelCastillo/Brackets-InteractiveLinter/commit/65328b2c8dcf83917718f0afc4a2c18c444378a3

[2015-07-24 19:32] #146 closed

[2015-07-24 19:34] MiguelCastillo opened #149 "ESLint reports the wrong position in the report and in the linter error list panel"

[2015-07-24 19:35] MiguelCastillo commented on #149
https://github.com/MiguelCastillo/Brackets-InteractiveLinter/commit/9a3026bf906a129ce8019ad743f22824ccbbb1d2

[2015-07-24 19:35] #149 closed

[2015-07-31 05:36] tmcdonnell87 opened #151 "eslint deprecation warnings appearing on the first line of all Javascript files"
I'm getting deprecation warnings from eslint on all files. The warnings appear on the first line. They can be disabled by turning off warnings on that line or by disabling those specific warnings for the file, but it seems like they shouldn't be appearing.

![image](https://cloud.githubusercontent.com/assets/4717014/9001366/24b97b32-370b-11e5-92b7-32c9ae868607.png)

I'm new to Brackets extensions

[2015-08-09 01:43] wyattbiker opened #152 "Additional usage examples/docs"
I would like to use the default.json for jshint settings.

The default value in default.json for
[code]
Was very confusing because when I fired up a .js file it showed a myriad errors. Took me a while to figure out and change it to jshint

How do I add additional settings to default.json section? For example to add this:
[code]

Also, If I add this to default.json:
[code]
Where and how do i add th

[2015-08-09 02:13] wyattbiker commented on #32
Missing semicolon. - W033 - Details
http://jslinterrors.com/missing-semicolon

busted. there is no code w033 anymore it seems

[2015-08-12 22:40] StephenGregory opened #153 "ESLint YAML .eslintrc file does not work"
### Description

[ESLint supports .eslintrc being written in YAML](http://eslint.org/docs/user-guide/configuring). The Interactive Linter does not handle such a file.

### Steps to reproduce

Configure `brackets.json` appropriately:
[code]

Create a `.eslintrc` file in your project directory with the following content:
[code]

An alert prompt displays the following:

##### Other details
- OS: Wind

[2015-08-15 00:08] StephenGregory commented on #153
I suspect the issue is on [this line](https://github.com/MiguelCastillo/Brackets-InteractiveLinter/blob/8e8fbb15e1d85f0637ae6c2928e5dd33582ee0a1/linterSettings.js#L73), wherein it is assumed that the settings file in in JSON.

How after deferring the parsing of the file to ESLint (see [getConfigForFile()](http://eslint.org/docs/developer-guide/nodejs-api#getconfigforfile))?

[2015-08-15 01:42] MiguelCastillo commented on #153
@StephenGregory thanks for logging this issue.  Currently, interactive linter only supports json formatted settings files.  I am not totally against supporting YAML.  Would you be willing to put together a PR?

[2015-08-15 02:24] MiguelCastillo commented on #152
Hi, thanks for your feedback. So there are a few things going on here.

1. Configuring what linter to run.
   - The configuration for the particular linter you want to run is a brackets settings.  I have added some more details about it [here](https://github.com/MiguelCastillo/Brackets-InteractiveLinter#configuration).  I also included a sample file [here](https://github.com/MiguelCastillo/Bracket

[2015-08-15 02:45] MiguelCastillo commented on #151
@tmcdonnell87 Hi, sorry for this delayed response.  Those warnings about old settings eslint has changed.  I have the default settings file so that you dont see those again.

[2015-08-15 02:49] MiguelCastillo commented on #145
@OffByNone Interesting idea. The way interactive linter works is that it will look at the folder for file you open and traverse the folder hierarchy searching for a settings file corresponding to the configured linter.  I am not sure how well your approach would work simply because of performance.

Would you be interested in creating a PR?

[2015-08-15 02:53] MiguelCastillo commented on #142
@bobrocke if you would like to play with the idea, [this](https://github.com/MiguelCastillo/Brackets-InteractiveLinter/blob/master/linterSettings.js#L34) is the line you need to change.  Remove `filePath.indexOf(currentProject.fullPath) === -1` from the conditional.

Let me know if that works for you. Perhaps I will try it as well...

[2015-08-15 02:55] MiguelCastillo commented on #139
@tnhu hey sorry for this delayed response.  Are you thinking of the panel at the bottom?  Or the light bulbs on the document?

[2015-08-15 23:12] StephenGregory commented on #153
Sure! For reference, how have you gone about getting the single `eslint.js` in your repo?

[2015-08-16 20:29] tnhu commented on #139
Hi Miguel, I'm thinking of the light bulbs. Assuming I have 10 light bulbs showing up. I click the first one, fix the error/warning, then I need to click the second one, fix the error, then click.... It'd be faster if I fix the first one, press a shortcut to move to the next one, on and on.

[2015-08-17 21:11] OffByNone commented on #145
At the moment I am quite busy, and don't have the time.  If I get some time I will see what I can do.

[2015-08-18 15:17] tmcdonnell87 commented on #151
Awesome, thanks.

[2015-08-18 15:17] #151 closed

[2015-08-18 15:25] MiguelCastillo commented on #151
I meant to say that I have *updated* the default settings file so that you don't see those errors again :)

[2015-08-18 16:03] vasudeva-chaynes opened #158 "coffeelint does not work"
In brackets.son:
"interactive-linter.coffeescript": [
        "coffeelint"
    ],

Also tried with full path to coffee lint (nvm installation), which works from CLI.

In much fiddling with this, I saw an interactivelinter orange ball once (on a line that was too long, though not according to coffeelint.json). Have not been able to replicate this.

Yosemite with current brackets and extensions.

[2015-08-18 17:42] spietrek opened #159 "Linter does not work"
I am having an issue where the linter extension does not work. I have JSCS and JSHint loaded. The linter will work only occasionally. Generally, I need to restart Brackets a bunch of times with and without extensions in order for it to activate.

"language": {
        "javascript": {
            "linting.prefer": [
                "JSHint",
                "JSCS"
            ],
            "lintin

[2015-08-21 02:11] onsombal opened #161 "Special characters must be escaped : [ > ]."
I just upgraded to the latest version of Brackets.io and updated the extensions I had installed -- including "Brackets-InteractiveLinter".

After this update, the InteractiveLinter is now reporting an error for handlebars.js html entries that it didn't report before, e.g.
    {{> leaders}}

Is there a fix for this so that these handlebars.js html entries won't be flagged as errors?

Thanks... Jim

[2015-09-10 22:39] tmcdonnell87 opened #163 "eslint extends eslint:recommended not respected"
The .eslintrc declaration "extends": "eslint:recommended" does not seem to work in the interactive linter using version 1.0.5.

Sample .eslintrc file:
{

    "rules": {
        "quotes": [
            2,
            "single"
        ],
        "semi": [
            2,
            "always"
        ]
    },
    "env": {
        "es6": true,
        "node": true
    },
    "extends": "eslint:recommen

[2015-09-11 03:02] MiguelCastillo commented on #163
@tmcdonnell87 interactive linter does not support that right now. It is on my to do list though.  I also need it :)

Gotta figure out 2 primary things.  Support eslint plugins and rule extensions.  Perhaps I will have time in the next couple of days.

[2015-09-15 08:11] tabweg opened #164 "Single quotes for HTML attributes marked as error"
HTML5 specification says that it can be single and double quotes or even no quotes at all if the attribute value has no white space etc.

[2015-09-26 05:46] shardool commented on #27
Any progress on this so far, guys ? I'd love to have brackets ignore my uglified scripts and not bring  up the annoying panel  with JSHint violations when I occasionally visit the uglified files out of curiosity :)

[2015-09-28 18:17] tmcdonnell87 commented on #163
@MiguelCastillo Any update? This would be really awesome and helpful. Thanks!

[2015-10-05 10:02] PhiLhoSoft commented on #153
Yes, I have hit the issue when I switched from JSHint to ESLint, generating (with `eslint --init`) a Yaml file.
I switched to Json, but I would prefer to use Yaml as it allows comments...

BTW (slightly unrelated, I can create a new issue if needed), how can we cleanly update the ESLint version? Some options seems to be unrecognized or limited (eg. line ending and brace placement).

[2015-10-16 09:58] raiscui opened #165 "eslint require error"
when use
`"interactive-linter.javascript": ["eslint"],
    "language": {
        "javascript": {
            "linting.prefer": [
                "ESLint"
            ],
            "linting.usePreferredOnly": true
        }
    }`

and `.eslintrc`
`  "parser": "babel-eslint",`

the InteractiveLinter will echo `Interactive Linter: 1 Linter Problem`
like that:
`
Module name "babel-eslint" has not be

[2015-10-18 17:19] onemen opened #166 "How to update eslint"
How can i update eslint to its latest version?

[2015-10-19 00:47] MiguelCastillo commented on #166
Unfortunately, this is a manual process right now.  I have been collaborating with someone else to automate the process, but it has been rather difficult.

But if you are interested, I clone eslint and run their browserify npm script. I copy that build output directly into the eslint plugin.

[2015-10-19 00:51] MiguelCastillo commented on #165
@raiscui yeah configuring anything but linting rules is supported.  Currently, supporting the parser field isn't a priority as that's not quite as common of a use case.  However, I will happily accept a PR :)

[2015-10-20 13:58] aravindet commented on #166
Is it possible to have InteractiveLinter use the globally installed eslint instead? I use the babel-eslint parser and the jsx plugin, and both are configured in .eslintrc, but neither are having an effect.

[2015-10-21 01:37] MiguelCastillo commented on #166
@aravindet  It is certainly possible, but not quite that simple.  Primarily because linters are loaded by interactive linter in memory and they run in a worker thread.  The one option that has chance from your suggestion is to basically run commands via node (since that's what Brackets provides), and that will require some changes.  Adding this is limiting because we will also need to create a par

[2015-10-21 10:51] aravindet commented on #166
I understand, running eslint in a node.js process seems to be the best way forward. Instead of writing a parser for stdout, it might be possible to write a tiny wrapper in node, which uses the eslint API and returns output as JSON back to the the browser.

I am new to Brackets extension development, but I found [this doc](https://github.com/adobe/brackets/wiki/Brackets-Node-Process:-Overview-for-D

[2015-10-21 14:28] MiguelCastillo commented on #166
@aravindet yeah man, no problem!  I appreciate you taking a look and initiative to come up with something.  So you could probably use this old plugin I created to see how you can integrate a node plugin.  So, perhaps we can create another eslint plugin that works over node.  https://github.com/MiguelCastillo/Brackets-TomcatManager/blob/master/node/TomcatDomain.js

I am happy to help you through th

[2015-10-28 09:05] iegik commented on #159
conflicts with [brackets-git](https://github.com/zaggino/brackets-git/issues/1222)

[2015-10-28 13:59] MiguelCastillo commented on #159
@spietrek Sorry about that. Have you tried switching the order your linter definition to:

[code]

Interactive linter only supports one linter, even though the definition is an array.  Array definition is just thinking ahead of features I would like to add and have not had to time to.

@iegik I am interested in what you said here. Is there a known conflict, something you have ran into, or just a g

[2015-10-29 00:36] spietrek commented on #159
Thanks Miguel. I am also running Brackets Git too.

-Steve Pietrek

[2015-10-29 03:19] MiguelCastillo commented on #159
@spietrek Did you try switching the order of your linter definitions to have jshint first?

[2015-10-30 15:00] iegik commented on #159
@MiguelCastillo I have tried to switch the order of extensions. No effect.
Where actually can change extension load order?

[2015-10-30 16:02] MiguelCastillo commented on #159
The actual bit that makes assumptions about there being an array and using the first entry is https://github.com/MiguelCastillo/Brackets-InteractiveLinter/blob/master/linterManager.js#L36

This issue certainly does not seem straight forward, so if you guys could help me diagnose it, that would be awesome.

What environments (OS) are you guys running?

The other thing that is interesting is

[code]

[2015-11-01 21:04] iegik commented on #159
Ubuntu. I have installed both extensions - brackets-git and Brackets-InteractiveLinter. After Git exxtension is enabled - Brackets-InteractiveLinter do not work.

[code]

[2015-11-01 21:06] MiguelCastillo commented on #159
Ohhh, that's interesting (in a bad way).  Interactive linter works when brackets-git is not installed?  :-/   I gotta look into that soon!  Thanks for the info.

[2015-11-01 21:38] spietrek commented on #159
I have seen Interactive Linter not work on OSX. I also have Brackets Git installed. Seems to happen more often after installing or uninstalling other extensions and restarting Brackets. Sometimes takes multiple restarts with and without extensions to get things to work.

-Steve Pietrek

[2015-11-01 21:48] iegik commented on #159
@MiguelCastillo, @spietrek I have removed all extensions except Git and Linter and switching them on/off, decided, that **Linter does not work after Git is enabled**.

[2015-11-01 21:51] MiguelCastillo commented on #159
This is really helpful guys.  I really don't run into these issues.  I will try to repro with git.  Thanks!!

[2015-11-01 22:01] iegik commented on #159
Note: Git hightlight row corner then line was changed, but Linter also mark that line, when it is with the error. I think marks are shown there, but they are not visible because Git replace/override them!

[2015-11-04 09:15] PhiLhoSoft commented on #164
InteractiveLinter is just a wrapper around existing tools, so you have to refer to each one to adjust their rules.
For HTML, it uses http://htmlhint.com/ so you need to look for the rule(s) about quotes.
Note it is recommended to use quotes consistently (always single or double, none isn't always possible), but if you like to mix them, I suppose you can deactivate the rule.

[2015-11-04 11:11] PhiLhoSoft commented on #166
I mentioned the issue in #153 but it is good to have a separate issue.
Being lazy, I didn't want to clone ESLint and run browserify... So I went to the demo page, saw with Firebug that it loads the file from http://eslint.org/js/app/eslint.js so I downloaded it and replaced the copy on C:\Users\<user name>\AppData\Roaming\Brackets\extensions\user\interactive-linter\plugins\default\eslint\libs (yes

[2015-11-04 11:15] PhiLhoSoft commented on #163
Supporting "eslint plugins and rule extensions" would be awesome!
I saw some interesting rules at https://github.com/bahmutov/eslint-rules :smile:

[2015-11-04 11:28] PhiLhoSoft opened #167 "ESLint: spurious warning about bad line ending"
Using latest version, if I set the rule:
`"linebreak-style": [ 1, "windows" ]`
I get a warning on the first line of all my files:

Interactive Linter: 1 Linter Problem
1	Expected linebreaks to be 'CRLF' but found 'LF'.	[linebreak-style] - angular.module('designerApp')

But all the line endings are CRLF!
And if I run ESLint from the command line, it doesn't report anything related to line break.

I

[2015-11-05 20:47] MiguelCastillo commented on #167
Hi @PhiLhoSoft, sorry I havent responded.  Been really busy... Arent we all :)

So I can reproduce the issue also... Odd issue.  At a quick glance, it looks like a CodeMirror thing.  I am not sure that Brackets actually converts LF/CR automatically for you.

Have you tried running eslint in the command line while the file giving you problem is open in Brackets?

You can debug extensions the same w

[2015-11-05 21:48] MiguelCastillo commented on #164
@PhiLhoSoft yes, thank you for answering!  That is really helpful information.  You can only enforce double quotes via `attr-value-double-quotes`.  If you set the flag to false, then you are just disabling the entire quotes rule.

[2015-11-05 21:49] MiguelCastillo commented on #164
I am closing this issue as we are working as designed...  Feel free to open other issues or continue discussions around this topic in this issue :)

[2015-11-05 21:49] #164 closed

[2015-11-06 07:24] PhiLhoSoft commented on #167
Brackets doesn't convert end of lines automatically, I have extension(s) doing that (and converting indenting too). Ah, the latter is called "White Space Sanitizer", you might know it... :wink:
Ah, actually, in my [list of Bracket extensions](https://github.com/PhiLhoSoft/Web-Playground/blob/master/doc/Backets%20review.md), I don't see an end of line normalizer, perhaps I don't have one after all.

[2015-11-06 08:59] laedri opened #168 "Skip errors"
I have Chrome extension, and I use it jQuery in that extension.

Linter gives me error about `chrome.tabs.executeScript({ // foo });` (chrome not defined) and `$('foo')` ($ not defined). I don't want to see these errors.  How can I skip them?

[2015-11-06 13:32] PhiLhoSoft commented on #167
Ah, I did an experiment. I reloaded Brackets without extensions. I loaded a file of my project in another editor (showing line ending, able to change and mix them). I changed 3 CRLF to LF and saved.
Loaded the file in Brackets, did a little unrelated change, saved.
In the above editor, I can see the lines reverted back to CRLF.

So my guess is that Brackets (or CodeMirror) converts all line ending

[2015-11-06 14:12] MiguelCastillo commented on #168
Which linter are you using?  It seems like you just need to specify an entry in your config file to tell whichever linter you are using that `chrome` and `$` are known variables.

[2015-11-06 14:15] MiguelCastillo commented on #167
Yeah line normalizer sounds kinda familiar :D

I was thinking that it is CodeMirror doing the conversion...  I couldn't find a brackets to disable/enable this LF conversion.  But I did find a few threads talking about this specific issue, so it might be worth taking a look in the Brackets git issues. :)

[2015-11-06 15:41] PhiLhoSoft commented on #167
In conclusion, since that's not a problem with your linter, I think you can close this issue. At best (worst?), it might be mentioned somewhere in a doc. Or this issue is enough to document the limitation... :smile:

[2015-11-06 16:56] MiguelCastillo commented on #167
Yeah that's a good suggestion.  Interested in making a doc PR?  Possibly pointing to a brackets doc/issue?

[2015-11-07 10:36] laedri commented on #168
JSHint. I didn't know that I can define known variables. Thanks.

[2015-11-07 10:36] #168 closed

[2015-11-07 13:36] MiguelCastillo commented on #168
Awesome. Glad it works.

[2015-11-11 05:33] stela5 opened #169 "Handle .eslintrc comma dangles?"
The interactive linter was complaining with an Aurelia project and I tracked it down to a dangling comma in the *.eslintrc* file: https://github.com/aurelia/skeleton-navigation/blob/master/.eslintrc#L4

Any thoughts for supporting it?  http://eslint.org/docs/rules/comma-dangle.html

[2015-11-11 14:29] MiguelCastillo commented on #169
@stela5 FYI - dangling commas will cause problems in IE.  I am not sure what versions anymore but that was definitely an issue.

As far as interactive linter goes.  the fact that it complained about it makes me happy :)  It is catching problems and telling you about it.  Also, interactive linter uses https://github.com/zaach/jsonlint to do the JSON linting, so that wouldn't be an ESLint that compl

[2015-11-11 15:23] stela5 commented on #169
Okay, thanks!

[2015-11-11 15:23] #169 closed

[2015-11-16 19:17] onemen commented on #167
I'm on windows 10.
i'v just installed newline extension https://github.com/LonelyStorm/brackets-newline
the extension let you convert for a file.
when i set in eslint "linebreak-style": [ 2, "windows" ]
your linter show an error Expected linebreaks to be 'CRLF' but found 'LF'.
no mater what the real linebreaks is.
when i runt eslint from the command line there is no error

[2015-11-16 23:04] PhiLhoSoft commented on #167
@onemen I suggest to read the whole thread...

[2016-01-11 19:51] atishay811 opened #170 "Support options in the header for jslint"
JSLint support linter options per file via `/*jshint unused: true, node: true */` The interactive linter should support those.

[2016-01-11 21:36] MiguelCastillo commented on #170
@atishay811  that use case is supposed to work. I am assuming **you tested it and it didn't work**, so I will double check that.

[2016-01-12 18:24] atishay811 commented on #170
It was using jshint by default. Didn't read my jslint settings. Sorry for the confusion. After I set this to jslint, everything works.

[2016-01-12 18:24] #170 closed

[2016-01-12 18:51] MiguelCastillo commented on #170
Oh great! Glad it still works. Got me concerned for a moment :)

[2016-01-17 04:16] hyuan opened #171 "Lost undo history after save"
If I save the file I can't undo the last modifications.

How to reproduce:
* Make some changes
* save
* try to undo

If I disable this extension, then the problem is gone.

Brackets Version: Release 1.5 build 1.5.0-16538 (release cf9cf4698)
Brackets-InteractiveLinter Version: 1.0.5
OS: Windows 10
Other installed extensions:
* Extract for Brackets
* Beautify
* Exclude Folders
* Integrated Developme

[2016-01-17 13:38] MiguelCastillo commented on #171
Yuck- sorry about this!  It's a rather odd behavior I don't know how it could happen just yet.  What linter do you have configured?  I am assuming you were working on a JS file. Is that correct?

[2016-01-17 18:55] hyuan commented on #171
The problem happens to both JS and HTML files at least. Here is my configure file:

    {
        "node": true,
        "esnext": true,
        "bitwise": true,
        "camelcase": true,
        "curly": true,
        "eqeqeq": true,
        "immed": true,
        "indent": 4,
        "latedef": true,
        "newcap": true,
        "noarg": true,
        "quotmark": "single",
        "regexp": t

[2016-01-18 00:03] hyuan commented on #171
After I added the following lines in brackets.json, the issue is gone:

    {
        ...
        "linting.prefer": [
          "JSHint",
          "JSCS"
        ],
        "linting.usePreferredOnly": true,
        ...
    }

Could it be a conflict between the extension and the default of JSLint?

[2016-01-18 00:44] MiguelCastillo commented on #171
Hmmmm, I disable the built-in JS linter to avoid wasting valuable cycles...  But this at least gives me some ideas to go on.  Really appreciate your research :)

[2016-02-04 17:31] jaymascarenas commented on #159
I have found that if you disable the extension and then enable it again the linter starts to work again.  This is with brackets-git also installed.  Thanks!!

[2016-02-10 08:22] emanuelebrivio commented on #163
Hey @MiguelCastillo! Do you have any news about ESLint plugins and extensions? Because I need it... I tried using https://github.com/zaggino/brackets-eslint but it's not as awesome as the Interactive Linter... :disappointed:

[2016-02-16 21:12] Amosss opened #172 "linting different file types"
Hi, I hope you will be able to help with the following. Currently I only installed interactive linter and tried to lint css, js, json, php and html.

css: I expect backgrund-color: aqua; to give me an error because there is a typo but instead the linter says there is no problem at all. The hinting/auto completion is working as expected.

js: I downloaded jshint because I saw others recommend it in

[2016-02-19 07:42] onemen opened #173 "How enable eslint plugin to parch and lint xml files"
I'v recently found [eslint-plugin-mozilla](http://hg.mozilla.org/mozilla-central/file/3381f46ec15b/testing/eslint-plugin-mozilla) that is capable to lint xml files

i'v installed the plugin globally (my eslint is globally installed), and i i can use it manually to lint xml files from the command line:
`eslint --plugin [eslint-plugin-mozilla] --ext .xml .`

Is it possible to configure Brackets-Inte

[2016-02-22 20:38] Amosss commented on #172
Assuming this is still alive, I was able to use this linter with all file types except for PHP. I do see lint warnings in the panel at the bottom but not with he bulbs of interactive linter. Please advice.

[2016-02-24 03:40] MiguelCastillo commented on #173
@onemen interactive linter loads and runs eslint in process; it does not call the externally available version of eslint. This has the drawback that I have to implement any particular features where eslint would otherwise handle itself as it is the case of allowing eslint to load plugins.  I am lacking some time to investigate how I can use versions of eslint in system.  I am open to suggestions a

[2016-02-24 03:52] MiguelCastillo commented on #172
@Amosss perhaps you already found the information, but interactive linter allows you to configure different linters for JS.  It has linters for the other languages you mentioned except for PHP. I have no current plans of adding PHP support, but I welcome PRs!

I use http://htmlhint.com/ for linting HTML, so I am limited to their capabilities.  But is there another html linter written in JavaScript

[2016-02-24 16:24] onemen commented on #173
take a look at https://github.com/fdecampredon/brackets-eslint

[2016-02-24 17:32] MiguelCastillo commented on #173
yeah - that's one of the other way of doing it. That's the approach I describe in this other thread you got going on. https://github.com/MiguelCastillo/Brackets-InteractiveLinter/issues/166

[2016-03-06 18:39] preetamkajalrout opened #174 "Doesn't support the new file formats for configuration"
Hi Team,

I tried using .eslintrc.json which didn't work. However, the same worked fine for .eslintrc (without any extension) which is basically deprecated (http://eslint.org/docs/user-guide/configuring#configuration-file-formats)

It would be really nice to update this.

Best regards,
Preetam

[2016-03-14 08:52] blackmiaool commented on #171
It happens after I updated brackets to 1.6 .

[2016-03-19 00:10] davidmaoconnor commented on #137
This also happened to me. I'm running (64-bit) Windows 10 Home. I had to force-quit Brackets and restart it. Whenever you disable and then re-enable the extension you have to do this over again.

[2016-04-18 19:25] rvarbanov opened #175 "Not able to enable ESLint"
So today we updated our project to use ESLint from ESHint and JSCS, because of JSCS merging with ESLint and not being supported anymore.

I added the line of code you suggest on the home page `"interactive-linter.javascript": ["eslint"]`, but that only disable the default.

In our setup we are using `.eslintrc.js` to load our rules and styles.

[code]

I am not sure what I am doing wrong. Please h

[2016-04-20 21:17] rvarbanov opened #176 "Update ESLint"
I know that it is not a long-term solution, but would you please update ESLint so I can keep using your extension. I like your extension and would hate to have to uninstall it.

If you can give me a direction to how to get that updated and I will submit a PR if you do not have time.

[2016-04-21 02:57] MiguelCastillo commented on #176
@rvarbanov I will take a look this weekend. If you want to try to update it yourself in the meantime, all I do is build eslint myself with their browserify build script and place in [here](https://github.com/MiguelCastillo/Brackets-InteractiveLinter/tree/master/plugins/default/eslint/libs) in your local interactive linter install.

sorry  I have not had time to make much progress in this extension

[2016-04-21 14:09] rvarbanov commented on #176
@MiguelCastillo you do not need to apologise, I understand!

I will try to build ESLint later today and let you know how that went :)

[2016-04-21 14:11] MiguelCastillo commented on #176
To be honest, i need to rethink some of this stuff. Current I abstract out eslint into my own container... Which causes issues like loading up rules from modules.  This is one reason I have been putting this whole thing off.  But it seems like it is time to roll up my sleeves and do it.

[2016-04-21 19:03] rvarbanov commented on #176
Yeah, it seems like not an easy task, but I believe in you 😃

[2016-04-26 16:42] rvarbanov commented on #176
@MiguelCastillo I built a new eslint.js file and updated the extension with it. It worked for one of my projects, but I am getting an error on another.

[code]

Is there a way to get a more detailed error message?

[2016-04-26 16:49] rvarbanov opened #177 "Update ESLint to use .eslintrc.js"
On the [ESLint](http://eslint.org/docs/user-guide/configuring#configuration-file-formats) site they say that `.eslintrc` is deprecated and that we should use one of the following in that order:

1. `.eslintrc.js`
2. `.eslintrc.yaml`
3. `.eslintrc.yml`
4. `.eslintrc.json`
5. .`eslintrc` (deprecated)
6. `package.json`

I could just update the eslint's settings.json to one of those, but that did not

[2016-04-26 18:21] MiguelCastillo commented on #177
Ah ok. Yeah, it is about time we updated eslint...  Would you be interested in submitting a PR to update ESLint and the config?

[2016-04-26 18:36] MiguelCastillo commented on #176
I don't provide that at the moment...  The error is logged here https://github.com/MiguelCastillo/Brackets-InteractiveLinter/blob/master/linterSettings.js#L89

Try putting a break in there if you really want to debug it.

Can you paste your config file here?

[2016-04-26 18:39] rvarbanov commented on #176
[code]

[2016-04-26 18:44] rvarbanov commented on #177
I could, but it is not working. That is why I submit an issue and not just a PR 😄

I guess I could submit a PR with the eslint.js only... Is that what you are thinking of?

When I updated the settings.json file to look for `.eslintrc.js` I started getting errors, but it worked with `.eslintrc`

[2016-04-26 20:28] MiguelCastillo commented on #177
i would submit a PR just to update ESLint...  We can tackle the other problem separately.

But why is your `.eslintrc` a `.eslintrc.js` and not a `.eslintrc.json`?

[2016-04-26 20:29] MiguelCastillo commented on #176
Oh the issues is highlighted by the github editor in red. `.eslintrc` files are proper JSON.

[2016-04-26 21:01] rvarbanov commented on #177
ESLint supposed to look for `.eslintrc.js` first and also I like single quotes better 😃

[2016-04-26 21:14] MiguelCastillo commented on #177
Currently, i only support JSON.  Which means that you really cant use single quotes; it has to be valid JSON :/

[2016-04-26 21:20] MiguelCastillo commented on #177
Also, I know this isn't obvious at all.  But I run an independent version of ESLint in a worker thread.  So ESLint does not really load the configuration files itself when you are working with Interactive Linter.  This is one of the reasons I was saying in the other thread why I need to rethink this whole thing. :)

[2016-04-26 21:24] rvarbanov commented on #177
Right, and that is why I created the issue. It would be nice if there is a way to allow for an array of settingsFiles. I do not know if that is achievable.

Again, I not know much about how the brackets extensions work so I am only suggesting how it could be improved but have no idea how to do it :)

[2016-04-26 21:27] MiguelCastillo commented on #177
right. I completely missed that's what you were saying. sorry about that!

fair enough. it is a great suggestion.  moving to running the native eslint will allow us to specify eslint configurations in whichever way you want.  That's ultimately what we probably should do.

[2016-04-26 21:37] rvarbanov commented on #176
Ah, dah.... :)

I translated the file to JSON from JS with find and replace and did not notice that there were errors in it...

Thank you for pointing that out.

[2016-04-27 20:04] rvarbanov opened #180 "Some ESLint errors not showing by the error tooltip"
Before I switched to ESLint, I used to get notified if I have declared a variable that I am not using it later in my code. I do not not need to explain why that is useful. :D Now with ESLint, I no longer see those inline error tips.

However when I run my grunt test that has an ESLinter in it, I will get those errors listed there

E.g.: `4:2  error  '_' is defined but never used  no-unused-vars`

[2016-05-26 16:09] jwestbrook commented on #172
@MiguelCastillo I'm interested in writing the interface for the PHP linter, but I think that the Worker context doesn't allow me to pull in the `child_process` module to run the `php -l` shell command.

Do you have any suggestions on how to run a shell command inside the worker context?

[2016-06-01 20:50] MiguelCastillo commented on #172
@jwestbrook Hi! That's great you are interested in writing a PHP integration.  So, calling a child process is definitely one of the things I need to work through.  Currently the way that Brackets handles this is not quite straight forward.  The integration would need to go through a Node interface that executes the command for you.  I need to do something like this in order to have better support

[2016-06-01 21:01] jwestbrook commented on #172
@MiguelCastillo So it wouldn't be *just* writing the PHP plugin - it would be adding some architecture to how plugins are loaded as well.

I'll see what trouble I can get into, thanks!

[2016-06-01 21:26] MiguelCastillo commented on #172
Yup.  Nothing but fun!  :D

[2016-06-01 21:30] MiguelCastillo commented on #172
There is a plugin loader that can be leveraged.  https://github.com/MiguelCastillo/Brackets-InteractiveLinter/blob/master/pluginLoader.js

We can leverage the load embedded plugin method to load the plugin.  The plugin itself will need to be the bridge to node as described in the link above.

The only "architecture" thing would be to specify which plugins are loaded in the worker thread and which

[2016-06-01 21:34] MiguelCastillo commented on #172
More info.  The plugin manager loads the plugins so that's probably where we can add a way to load plugins one way or the other.  https://github.com/MiguelCastillo/Brackets-InteractiveLinter/blob/master/pluginManager.js#L46

I am actually thinking that embedded plugins and worker thread plugins are simply placed in under new directories "embedded" and "threaded"...  By convention, the plugin manag

[2016-06-09 14:34] pickledham opened #181 "directives not recognized in .jshintrc file"
Software
- using  **brackets@1.6** and with **.jshintrc** file in the root of the project folder.

Problem
- Linter window shows something weird with a few unrecognized  directives. it shows only a single character _'o'_ for each directive it does not recognize

Reproduce The problem:
-     start linting a blank .js file. no text, nothing, noda
-     add the following to the .jshintrc file
- -

[2016-06-09 14:45] pickledham commented on #180
you may have the directive **"unused": false** set in the **.jshintrc**  or **.jslintrc**  file
or it could be set inline on top of the source code

[2016-06-10 19:57] MiguelCastillo commented on #181
wow - I have never seen anyone provide me with such great details about an issue!  You are awesome.

As far as the issue goes - I would like to reproduce the issue to see what's going on. Can you reproduce the issue if you have an already created JS and a .eslintrc file?  If so, it would be awesome to get a hold of that.

[2016-06-12 01:11] pickledham commented on #181
tried removing all linting config files and trying the one at a time.
Seems to totally ignore .jslintrc and .eslintrc files. Only file the
linter looks for is .jshintrc

just for reference and to clear my sanity here is a snippet of my
brackets.json file
     " ------------------ Code linting -------------------------------":
"comment",
     "linting.enabled": true,
     "linting.collapsed": true,

[2016-06-12 18:17] jmls commented on #175
did you ever get it working ? I seem to have the same problem

[2016-06-12 19:14] MiguelCastillo commented on #175
@jmls a PR was submitted by @rvarbanov to support .eslintrc.js.  It is currently in master and not yet pushed to the extension registry.  I should be pushing it out to the extension registry sometime today.  I havent done so because everyone using `.eslintrc` files will just stop working.  It is an unfortunate breaking change we have made to keep up with eslint.

Is you file called `.eslintrc.js`?

[2016-06-12 20:14] jmls commented on #175
I have a file called .eslintrc.json

either way, it's not an issue . I can nuke it and replace with whatever is needed

[2016-06-13 11:17] MiguelCastillo commented on #175
Gotcha. For testing purposes, can you rename your file to .eslintrc to see if interactive linter picks it up?

[2016-06-13 15:54] rvarbanov commented on #175
I am also using `.eslintrc.json`.

[2016-06-13 19:09] MiguelCastillo commented on #175
@rvarbanov yup - you are also using what is on the master branch for this to work, correct?

[2016-06-14 00:02] rvarbanov commented on #175
I believe I am, but I will have to double check later.
On Mon, Jun 13, 2016 at 3:09 PM Miguel Castillo <notifications@github.com>
wrote:

--
Radi Varbanov
(313) 610-0432

[2016-06-14 15:38] rvarbanov commented on #175
Yes, I am using what is on master.

[2016-06-29 07:19] josegoncalveswho commented on #176
Great job @rvarbanov and @MiguelCastillo. but when will we see this available on the next relase?

One of the problems with Brackets is that developers are relying on it, and then have to spend lots of time contributing to it, and debugging it. I really love Brackets and Interactive Linter. But something like the eslinter not being up-to-date is really bad. I was having trouble with it for quite s

[2016-06-29 13:14] MiguelCastillo commented on #176
@josegoncalveswho I agree. I am going to publish shortly.  I am going to check if we are out of date in case we should do a last minute update.

[2016-06-29 13:22] josegoncalveswho commented on #176
Thanks, really appreciate the investment in time. If there is anything you need done, I'm glad to help, with whatever free time I can find. I made some contributions to [zaggino's bracket git extension](https://github.com/zaggino/brackets-git), and am happy to contribute in any way I can.

[2016-06-29 13:31] MiguelCastillo commented on #176
well - that's wonderful to know. I can always use a hand.  Especially for things that are of interest or somewhat blocking you you are most welcome to submit PRs for.  I want to verify if the version of eslint we have in master is the latest.  If it is, then great.  If its not and you have time to submit a PR, that would be great.  Also, adding a small passage about the new requirements for naming

[2016-07-06 16:35] davidbarredo commented on #181
I have the same problem adding the `"esversion": 6` to the .jshintrc file.

[2016-07-13 07:41] tympapost opened #183 "How to get ESLint to parse all .js files in a folder?"
My javascript code is split into several files in the same folder. Can anybody show me how can I configure InteractiveLinter and/or ESLint in order to parse all the files in the folder, when I have a .js file open?

[2016-07-25 21:02] jcbp commented on #85
Hi, just to make it clear that the same thing happened to me. The issue was generated by this theme https://github.com/Jacse/themes-for-brackets

[2016-08-17 12:43] iegik opened #184 "Use brackets.getModule("thirdparty/mustache/mustache") instead of global Mustache"
Use brackets.getModule("thirdparty/mustache/mustache") instead of global Mustache.
    at Object.defineProperty.get (/brackets.js:125:32)
    at createPanel (~/.config/Brackets/extensions/user/interactive-linter/lintPanel.js:56:28)

Brackets 1.7.0-16898 (release b0a363b71)
Interactive Linter v1.0.5

[2016-08-30 05:57] iegik opened #185 "Cannot assign Ctrl-Shift-E to MiguelCastillo.interactive-linter.showLineDetails. It is already assigned to caferati.htmlwrapper"
[code]

[2016-08-30 06:09] iegik commented on #183
Try ESLint CLI http://eslint.org/docs/user-guide/command-line-interface

[2016-08-31 02:37] #184 closed

[2016-09-05 13:36] bguzmanrio opened #187 "Extract libraries as npm dependencies"
Don't you think it would be a good idea to have require, promise, eslint and the others as npm dependencies?

[2016-09-05 14:05] MiguelCastillo commented on #187
Yeah it would be a great idea.  I recall having issue with eslint when we tried doing it.  https://github.com/MiguelCastillo/Brackets-InteractiveLinter/pull/160

Please feel free to take a a look though.

[2016-09-20 06:14] josegoncalveswho commented on #172
I stumble upon this one, since I'm also looking for phpCS support. At the moment It's not possible for me to pick this up. But I will follow up as soon as I can dedicate some time to it.

[2016-09-20 06:14] joseporto commented on #172
I stumble upon this one, since I'm also looking for phpCS support. At the moment It's not possible for me to pick this up. But I will follow up as soon as I can dedicate some time to it.

[2016-12-21 20:51] DaddyWarbucks opened #190 "JSX plugin"
I believe I have JSX linting setup properly, but am not seeing any errors in .jsx files. I have included the  `"interactive-linter.javascript": ["jsx"]` in my `brackets.json` file.

I can confirm that it is working in .js file extensions as expected (with ["jsx"] as set above). But I get no errors in a .jsx file, even for something like a missing semicolon

I have tried "Reload with extensions" an

[2017-01-24 17:09] CowTail commented on #190
Same.

[2017-03-30 20:41] anephew opened #191 "Add new linters?"
Hello!

For example better linter for css https://github.com/stylelint/stylelint?

Thank you

[2017-03-30 21:09] MiguelCastillo commented on #191
Hi, thanks for logging this. Would have be interested in putting together a PR for this?  I would be happy to help.

[2017-04-02 11:39] JeffOdhiambo opened #192 "Brackets Code Editor"
Hello everyone,
I just downloaded the brackets code editor and it works well. I cannot close the editor though it's not unresponsive. It could close well before but after i installed the "Interactive Lint" i couldn't close it. The extension manager isn't responding as well.

Thanks for any help.

[2017-04-02 18:06] #192 closed

[2017-05-17 01:57] PercyButton opened #193 "</source> is not needed"
Linter prompted: Tag must be paired, Missing: [ </source> ] with the following code:

[code]

But </source> is not necessary:
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/source

[2017-06-09 14:09] albertportnoy opened #194 "Details links in javascript are broken - http://jslinterrors.com/ is down"
I'm not sure if this happens for languages other than javascript, but the 'Details' link, which opens [jslinterrors.com](http://jslinterrors.com) is broken. It shows this:
![shot-20170609-12379-tidasq](https://user-images.githubusercontent.com/14863373/26979104-52e9a540-4cf3-11e7-9f8c-7cbfbf5ba68d.png).

[2017-06-09 18:12] MiguelCastillo commented on #194
oh no! - it seems like the site is just permanently down... https://github.com/AtomLinter/linter-jshint/issues/341

i am super busy right now... if you have a moment to figure out if its available somewhere else, that would be super cool!

[2017-06-27 04:36] anandisrocking007 opened #195 "http://jslinterrors.com/ is down"
Hi i would like to bring to your attention that http://jslinterrors.com/  is down whenever it ask to click the link given in the error to know more it redirects to an empty site.

[2017-06-27 14:58] MiguelCastillo commented on #195
thank you!  someone else already logged it.  https://github.com/MiguelCastillo/Brackets-InteractiveLinter/issues/194

I asked if there was any interest in finding out what has replaced that website and I will happily take a PR.

I am going to close this issue and keep track of it under the other one.

[2017-06-27 14:58] #195 closed

[2017-09-12 23:53] JackDinn commented on #193
Hi, so what was the answer here as i have exactly the same problem. Iv just started using brackets and learning html,css,js,php and would appreciated some advice.
Thx.

[2017-09-13 00:30] MiguelCastillo commented on #193
Oh yeah for sure. Always close tags, even if not required. Those cases are the exception and from my experience you would be doing it because you can and not because you should.  Its kinda like using loose equal comparison vs strict comparison in JavaScript. Its allowed, but don't do it.  :)

Hope that helps.

[2017-09-13 00:32] MiguelCastillo commented on #194
fixed by https://github.com/MiguelCastillo/Brackets-InteractiveLinter/pull/196

[2017-09-13 00:32] #194 closed

[2017-09-13 00:37] JackDinn commented on #193
did i do this wrong ? i tried closing the tags, the interactive linter is ok now (showing green) but the default syntax checker still shows RED , im assuming a lot here cos iv only just started out but heres a screen shot
https://imgur.com/W7wuUOI

[2017-09-13 01:10] MiguelCastillo commented on #193
does the default checker ever go away?  what if you remove the video tag - just for testing purposes?

[2017-09-13 02:21] JackDinn commented on #193
well i was not 100% sure if it was actually the default linter/checker or not, it could have been one of my extensions since i added a load that looked like id be wanting them before i even used brackets. So i disabled all the addons. Looks like it is the default error checker and yes it does go away when i remove the closing tag. Must be a setting to turn the default syntax checking off somewhere

[2018-05-30 13:51] #185 closed

[2018-09-27 22:39] Migacz85 commented on #183
What about https://www.npmjs.com/package/gulp-eslint  ?
Somebody maybe have idea how to tell eslint to treat all files in folder like a one ?

[2019-06-20 08:07] rishiraj824 commented on #183
Try this `./node_modules/.bin/eslint --fix src`

[2019-07-25 04:45] jakkrobbit opened #197 "SyntaxError message appearing on node config files"
### Steps to reproduce the problem
Open a config file for a node.js package (I noticed this error first when opening [this](https://github.com/rocketweb-fed/magento2-gulpfile/blob/master/dev/tools/gulp/configs/browser-sync.js) browser-sync file)

### Expected Result
- Open the file with no issues

### Actual Result
An error message pops up reading "Error processing linter settings. SyntaxError: Un

[2019-07-25 21:14] MiguelCastillo commented on #197
Hi @jakkrobbit - thanks for logging this!  Im unfortunately no longer working on this project.  But I;d be happy to add you as a contributor if you think you'd be interested in further work on this.  What do you think?

[2019-08-02 05:45] jakkrobbit commented on #197
If it means I could work on this issue, sure, I'd be happy to give it a shot.

[2019-08-02 17:05] MiguelCastillo commented on #197
For sure!  That's the idea :)   If you'd like clone the repo and give it try.  Let me know if you have questions I can help you with, and we can go from there.

[2019-11-14 09:42] alp82 commented on #183
i needed to specify a pattern like so: `./node_modules/.bin/eslint --fix 'src/**/*.js'`

[2019-12-09 22:22] jrood commented on #183
I once thought that /**/ meant to go any number of directories. For eslint it means only go one directory level deep.

[2020-01-22 10:43] segevofer commented on #183
Replace `./node_modules/.bin/` with `npx` (Available since npm 5.2.0)
So You can just run `npx eslint --fix src`

[2020-04-28 08:42] lonelyua commented on #183
Sometimes we need to use quotes for the path:
`"lint": "eslint 'src/**' "`

[2020-06-13 11:06] louisefindlay23 commented on #191
Or [EJSLint](https://github.com/RyanZim/EJS-Lint) for EJS files.

[2020-09-12 07:15] rodmoreno commented on #183
I already used @lonelyua solution but **I want to specify target into .eslintrc.js file**. Is this possible?

[2020-12-30 18:40] tdechangy opened #198 "Avoid CSS Variables"
Hi, is it possible to avoid showing CSS variables as errors ? It makes it quite annoying on theming files.

[2021-06-16 22:06] hamzahsn commented on #183
@rodmoreno  have you tried to use `files` in `.eslint` config file?

[2022-09-27 23:20] kembalsado commented on #183
If you wanted to ESLint a .js file in a specific folder
- `npx eslint --fix src` folder of the .js file

but if you want to ESLint all the .js file in the whole repository or folder
- `npx eslint --fix .`

[2022-10-29 18:11] #190 closed